body {
  background: rgb(39, 39, 37);
}

h1 {
  text-align: center;
  font-size: 28px;
}
h2 {
  text-align: center;
  font-size: 17px;
  color: rgba(7, 2, 2, 0.685);
}
p {
  font-size: 16.5px;
  color: rgba(7, 2, 2, 0.884);
}
.theme-button {
  font-size: 10px;
  color: black;
  background: rgba(88, 80, 80, 0.645);
  padding: 5 8px;
}
.theme-button:hover {
  color: black;
  background: rgba(111, 108, 106, 0.645);
}
button:hover {
  background: rgba(114, 112, 109, 0.645);
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: 20px;
  margin: 15px;
}
.container {
  background: rgba(80, 78, 78, 0.464);
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
  border-radius: 18px;
  display: grid;
}
button {
  border: 1px solid grey;
  background: rgba(185, 187, 189, 0.645);
  font-size: 15px;
  border-radius: 3px;
  padding: 9px 11px;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
  margin: 15px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}
.grid img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}

footer {
  font-size: 12px;
}
.bookstore-intro-img {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.bookstore-intro-img:hover {
  filter: contrast(93%);
  transform: scale(1.1);
}
.dark {
  background: rgba(0, 0, 0, 0.95);
  color: rgba(118, 120, 117, 0.627);
}
.dark .container {
  background: rgba(38, 36, 36, 0.83);
}
.dark a {
  color: rgba(118, 120, 117, 0.627);
}
.dark h2 {
  color: rgba(118, 120, 117, 0.627);
}
.dark p {
  color: rgba(118, 120, 117, 0.627);
}
